{% extends 'layout.html' %}
{% load static %}
{% block content %}

<div class="container">
    <!-- NOSOTROS -->
    <section class="nosotros row py-5" id="features">
        <div class="col-lg-6 col-img text-center">
            <img class="img-fluid nosotros-img" src="https://png.pngtree.com/png-vector/20230801/ourmid/pngtree-cartoon-sticker-of-a-library-illustration-vector-png-image_6821968.png">
        </div>
        <div class="col-lg-6 py-5">
            <div class="container">
                <div class="col-md-9 offset-md-1 mt-5 text-wrap bd-highlight">
                    <h1>¡Bienvenido a nuestra Cueva Literaria!</h1>
                    <p class="mt-4 fw-lighter">En <b>"La Cueva del Libro"</b> nos apasiona explorar los mundos infinitos que los libros tienen para ofrecer. Nos esforzamos por crear una comunidad donde los amantes de los libros puedan conectarse, compartir ideas y descubrir juntos la maravilla de la palabra escrita. La magia de los libros no solo reside en las historias que cuentan, sino también en las comunidades que se forman a su alrededor.</p>
                </div>
            </div>
        </div>
    </section>

    <hr class="my-4" style="border-color: #dc3545;">

    <!-- PROGRAMAS -->
    <section id="programas">
        <div class="programas">
            <div class="row mb-5">
                <div class="col-md-8 mx-auto text-center">
                    <h6 class="text-primary"></h6>
                    <h1>Sobre nuestra Organización</h1>
                </div>
            </div>
            <div class="row g-4">
                <div class="col-lg-4">
                    <p>En "La Cueva del Libro", creemos en la fuerza de la comunidad para dar vida a la literatura. Nos enorgullece ser una plataforma donde la voz de nuestros colaboradores, apasionados lectores y expertos, da forma al contenido que compartimos.</p>
                </div>
                <div class="col-lg-4">
                    <p>Nuestra comunidad de colaboradores son los arquitectos de nuestro espacio literario. Ellos no solo consumen historias, sino que también las crean. Colaboradores registrados tienen el privilegio de contribuir con reseñas, recomendaciones y artículos sobre una amplia variedad de géneros y temas literarios. Esto asegura una diversidad de perspectivas y una riqueza de contenido que va más allá de las fronteras de un solo punto de vista.</p>
                </div>
                <div class="col-lg-4">
                    <p>Para aquellos que simplemente aman sumergirse en la magia de las palabras, los usuarios estándar son bienvenidos a participar en nuestra comunidad de diferentes maneras. Aunque no pueden crear contenido directamente, pueden comentar y participar activamente en las conversaciones que rodean cada artículo. Valoramos cada opinión y creemos que la interacción enriquece la experiencia de lectura para todos.</p>
                </div>
            </div>
        </div>
    </section>

    <hr class="my-4" style="border-color: #dc3545;">

    <!-- TEAM -->
    <section id="team">
        <div class="container-cards">
            <div class="row mb-5">
                <div class="col-md-8 mx-auto text-center">
                    <h1>Conoce a nuestro equipo</h1>
                </div>
            </div>
            <div class="row text-center g-4">
                <div class="card h-100 bg-dark text-white card-project" style="width: 18rem;">
                    <div class="mt-3 h-100 bg-dark text-white">
                        <h5 class="card-title">Flores Pablo David</h5>
                        <p class="card-text">Pcia. Roque Sáenz Peña, Chaco📌 </p>
                        <div class="redes">
                            <i class="bi bi-twitter"></i>
                            <i class="bi bi-instagram"></i>
                            <i class="bi bi-facebook"></i>
                        </div>
                    </div>
                </div>
                <div class="card h-100 bg-dark text-white card-project" style="width: 18rem;">
                    <div class="mt-3 h-100 bg-dark text-white">
                        <h5 class="card-title">Ulises Hernán Soidler</h5>
                        <p class="card-text">Resistencia, Chaco📌</p>
                        <div class="redes">
                            <i class="bi bi-twitter"></i>
                            <i class="bi bi-instagram"></i>
                            <i class="bi bi-facebook"></i>
                        </div>
                    </div>
                </div>
                <div class="card h-100 bg-dark text-white card-project" style="width: 18rem;">
                    <div class="mt-3 h-100 bg-dark text-white">
                        <h5 class="card-title">Esteban Ignacio Fernandez</h5>
                        <p class="card-text">Resistencia, Chaco📌</p>
                        <div class="redes">
                            <i class="bi bi-twitter"></i>
                            <i class="bi bi-instagram"></i>
                            <i class="bi bi-facebook"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

{% endblock %}
